.cardStack {
  border-radius: 10px;
  border: 1px solid var(--accent);
  padding: 15px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background: #121212;
}

.icone {
  font-size: 40px;
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(203, 205, 206);
}

@media screen and (max-width: 768px) {
  .cardStack {
    width: 150px;
  }

  .name {
    font-size: 0.9rem;
  }

  .icone {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .cardStack {
    width: 130px;

  }

  .name {
    font-size: 0.8rem;
  }

  .icone {
    font-size: 20px;
  }
}
