
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --background: hsl(240 15% 4%);
  --foreground: hsl(240 5% 90%);

  --primary: hsl(270 95% 65%);
  --accent: hsl(280 80% 55%);

  --card: hsl(240 12% 8%);
  --secondary: hsl(240 10% 14%);

  --muted-foreground: hsl(240 5% 55%);
  --text-dim: hsl(240 5% 45%);

  --border: hsl(240 10% 16%);
  --neon-line: hsl(270 100% 70%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--background);
  background-image:
    radial-gradient(ellipse at 50% 50%, transparent 30%, #0d0d14 90%),
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 100% 100%, 40px 40px, 40px 40px;
  background-position: 0 0, -1px -1px, -1px -1px;
}

h1, h2, h3 {
  font-family: "Space Grotesk", sans-serif;
}

p, span {
  font-family: "Space Grotesk" ;
  font-weight: 400;
  color: var(--muted-foreground);
  line-height: 20px;
}

.textGradient {
  background: #C300E5;
  background: linear-gradient(to right, #C300E5 62%, #F7CCFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
