.headerSection {
  padding-top: 200px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  gap: 10px;
}

.label {
    color:#C300E5;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-family: 'JetBrains Mono', monospace;
}

.titulo {
    color: #fff;
    width: 100%;
    max-width: 800px;
    font-size: 2rem;
    font-weight: 600;
}

.textGradient {
  background: #C300E5;
  background: linear-gradient(to right, #C300E5 62%, #F7CCFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

@media (max-width: 560px) {
  .titulo {
    font-size: 1.8rem;
  }
}